body {
  overflow: hidden;
}
.folder {
  margin-top: 5px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: sans-serif;
  width: 300px;
  cursor: pointer;
  border-left: 5px solid #47d647;
}

.relative {
  position: relative;
}
.flex {
  display: flex;
  align-items: center;
}

.flexTree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-flex {
  display: flex;
  flex-direction: column;
}

.padding {
  padding-right: 10px;
}

.description {
  font-size: 12px;
}
.btn-button {
  background-color: lightgray !important;
}

.flex-buttons {
  display: flex;
  gap: 5px;
}
.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 3px solid #008361;
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin: auto 0;
}

.border::before {
  content: "\2192";
  font-size: 35px;
  position: absolute;
  color: #008631;
  top: 50%;
  left: 14px;
  transform: translate(-50%, -50%);
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.folder > span {
  margin: 0 5px;
}

.folder > div > button {
  font-size: 15px;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.controls {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
